.hero {
    font-family: $lato;
    color: white;
  }
  
  @media  (max-width: $breakpoint-desktop) {
    .hero {
      @include mobile-grid;
  
      img {
        grid-row: 1;
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
      }
  
      h2 {
        grid-row: 2;
        text-align: center;
      }
  
      button {
        grid-row: 3;
        justify-self: center;
      }
  
      p {
        display: none;
      }
    }
  }
  
  @media (min-width: $breakpoint-desktop) {
    .hero {
      @include desktop-grid;
      grid-template-rows: auto auto auto;
  
      h2 {
        grid-column-start: 1;
        grid-column-end: 3;
  
        grid-row-start: 1;
        grid-row-end: 2;
  
        display: flex;
        align-items: end;
        padding-bottom: 2vh;
      }
  
      button {
        grid-column-start: 1;
        grid-column-end: 2;
  
        grid-row-start: 2;
        grid-row-end: 3;
      }
  
      img {
        grid-column-start: 3;
        grid-column-end: 4;
  
        grid-row-start: 1;
        grid-row-end: 3;
        width: 25vw;
      }
  
      p {
        grid-column-start: 3;
        grid-column-end: 4;
  
        grid-row-start: 3;
        grid-row-end: 4;
  
        text-align: center;
      }
    }
  }
  