.hero {
  font-family: $lato;
  color: $white;
  height: 80vh;

  h2 {
    font-weight: 300;
  }
}

@media (max-width: $breakpoint) {
  .hero {
    @include flexAround;
    flex-direction: column-reverse;

    .cta {
      height: 30%;
      flex-direction: column;
      text-align: center;
      @include flexEvenly;
    }
    img {
      width: 80%;
    }
  }
}

@media (min-width: $breakpoint) {
  .hero {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2%;
    width: 100%;

    .cta {
      width: 50%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    img {
      width: 50%;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      transition-duration: 1s;
      animation: floatUpDown 3s ease-in-out infinite, blurEffect 1s ease-in-out;
    }
  }

  .hero:before {
    content: "";
    position: absolute;
    width: 1px;
    top: 10%;
    left: 0;
    background: $white;
    animation: expandHeight 1s forwards;
  }

  .hero::after {
    content: "";
    position: absolute;
    width: 2px;
    top: 80%;
    left: 0;
    height: 10%;
    background-color: $white;
    animation: expandHeightDotted 4s forwards;
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      $white 60%,
      transparent 50%
    );
    background-size: 70% 10px;
    background-color: $black;
  }

  @keyframes expandHeight {
    0% {
      height: 0;
    }
    100% {
      height: 70%;
    }
  }

  @keyframes expandHeightDotted {
    0% {
      opacity: 0;
      height: 0;
    }
    20% {
      opacity: 0;
      height: 0;
    }
    30% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes floatUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes blurEffect {
    0% {
      filter: blur(0.5rem);
    }
    100% {
      filter: blur(0);
    }
  }
}
