.hero {
  font-family: $lato;
  color: white;

  h2 {
    font-weight: 300;
    display: block !important;
    white-space: normal !important;
  }
}

@media (max-width: $breakpoint-desktop) {
  .hero {
    @include mobile-grid;
    height: 45vh;
    margin-bottom: 5vh;

    img {
      grid-row: 1;
      width: 100%;
      padding: 0 10%;
    }

    h2 {
      grid-row: 2;
      text-align: center;
    }

    button {
      grid-row: 3;
      justify-self: center;
    }

    p {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .hero {
    height: 60vh;
  }
}

@media (min-width: $breakpoint-desktop) {
  .hero {
    height: 60vh;
    @include desktop-grid;
    grid-template-rows: auto auto auto;
    position: relative;
    border-left: 3px solid $white;
    padding-left: 2vw;
    margin: 2vh 0 20vh 0;

    h2 {
      grid-column-start: 1;
      grid-column-end: 3;

      grid-row-start: 1;
      grid-row-end: 2;
      padding-top: 8vh;
    }

    button {
      grid-column-start: 1;
      grid-column-end: 2;

      grid-row-start: 2;
      grid-row-end: 3;
    }

    img {
      grid-column-start: 3;
      grid-column-end: 4;

      grid-row-start: 1;
      grid-row-end: 3;
      width: 25vw;
    }

    p {
      grid-column-start: 3;
      grid-column-end: 4;

      grid-row-start: 3;
      grid-row-end: 4;

      text-align: center;
      font-weight: 300;
    }

    p::first-letter {
      font-size: 3rem;
    }
  }
}
