.developmentContent {
  @include pageContent;
  flex-direction: row;
  flex-wrap: wrap;
  .folder {
    @include flexCenter;
    border: 2px solid $light-purple;
    width: 35%;
    height: 30%;
    position: relative;
    box-shadow: 5px 5px 0px $light-purple;
    transition-duration: 100ms;
    
    h3 {
      width: 40%;
      height: 20%;
      top: -20%;
      border: 2px solid $light-purple;
      background-color: $light-purple;
      color: $dark-purple;
      text-align: left;
      position: absolute;
      padding-left: 10px;
      left: -2px;
      font-family: $ubuntu;
      font-weight: 600;
    }
    
    p {
      width: 90%;
      font-family: $ubuntu;
      font-size: $p2;
    }

      strong {
        font-weight: bold;
      }
  }

  .folder:hover {
    box-shadow: 10px 10px 0px $light-purple;
    transition-duration: 100ms;
  }
}


@media (min-width: $breakpoint) {
  .developmentContent {
    .folder {
      width: 35%;
      height: 30%;
    }
  }
}
@media (max-width: $breakpoint) {
  .developmentContent {
    .folder {
      height: 12%;
      width: 100%;

      h3 {
        height: 40%;
        top: -40%;
      }
    }
  }
}