.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-family: $lato;
  color: $white;
  height: 65vh;
  margin: 2vh 0 12vh 0;

  div {
    font-family: $ubuntu;
  }

  h2 {
    color: $white;
    font-weight: 300;
    font-family: $lato;
  }
  p {
    font-size: $text-main-desktop;
    font-family: $lato;
    font-weight: 300;

  }
}
