.grid {
  display: grid;
}

@media (max-width: $breakpoint-mobile) {
  .one-col-mobile { grid-template-columns: 1fr; }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .one-col-tablet { grid-template-columns: 1fr; }
  .two-col-tablet { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: $breakpoint-desktop) {
  .one-col-desktop { grid-template-columns: 1fr; }
  .two-col-desktop { grid-template-columns: repeat(2, 1fr); }
  .three-col-desktop { grid-template-columns: repeat(3, 1fr); }
}


