.serv {
  margin: 5vh 10vw;
  width: 50vw;

  h2 {
    font-family: "Lato";
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2.5vh;
  }

  p {
    font-size: 1.1rem;
    font-weight: 300;
    font-family: "Lato";
    color: white;
    margin-bottom: 1vh;
  }

  .price {
    color: #c6c3ff;
    text-decoration: underline;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .serv {
    width: 70vw;
  }
}
