.options {
  @include modules;
  @include flexAround;

  flex-direction: column;
  font-family: $ubuntu;

  .cards {
    width: 100%;
    height: 66%;
  }

  .pack {
    width: 100%;
    height: 33%;
    @include flexCenter;
  }

  h2 {
    color: $white;
    font-weight: 300;
    font-family: $lato;
  }
}

@media (min-width: $breakpoint) {
  .cards {
    @include flexBetween;
    flex-direction: row;
  }
}

@media (max-width: $breakpoint) {
  .cards {
    @include flexAround;
    flex-direction: column;
  }
}