.card {
  border: 1px solid $light-purple;
  background-color: $dark-purple;
  color: $light-purple;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  legend {
    border: 1px solid $light-purple;
    color: $light-purple;
    background-color: $dark-purple;
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    min-width: 110px;
  }

  img {
    filter: drop-shadow(0 0 5px #9c97ff);
    width: 25%;
  }

  h3 {
    font-weight: 500;
    font-size: clamp(13px, 1.2vw, 19px);
  }

  .description {
    width: 90%;
    font-size: clamp(12px, 1vw, 18px);
    text-align: center;
  }

  .price {
    background-color: $light-purple;
    color: $dark-purple;
    padding: 1% 2%;
  }
}




@media (max-width: $breakpoint) {
  .card {
    height: 25%;
    width: 100%;
    flex-direction: row;

    img {
      width: 10%;
    }

    .description {
      width: 60%;
    }
  }
  .xl {
    height: 60%;
  }
.light {
  height: 20%;
}

}

@media (min-width: $breakpoint) {
.card {
  height: 90%;
  width: 30%;
}

.xl {
  width: 50%;
}
.light {
  height: 20%;
  width: 100%;

  legend {
    margin-left: 5%;
  }

  .description {
    text-align: left;
  }
}

}
