.card {
  border: 2px solid $light-purple;
  background-color: $dark-purple;
  width: 18vw;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-purple;
  justify-content: space-between;

  legend {
    margin: auto;
    padding: 0px 10px;
    border: 2px solid $light-purple;
    color: $light-purple;
    background-color: $dark-purple;
    padding: 5px 2vw;
  }

    img {
      filter: drop-shadow(0 0 5px #9c97ff);
      width: 60%;
      padding: 25px;
    }

    .price {
      background-color: $light-purple;
      color: $dark-purple;
      position: relative;
      bottom: 0;
      padding: 5px 10px;
      margin: 2vh 0;
    }
  }


.crtIcon {
  animation: crt-flicker 0.15s infinite alternate;
}

@media (max-width: $breakpoint-mobile) {
  .card div {
    width: 50vw;
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .card div {
    width: 18vw;
    padding: 0px 10px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .card div {
    width: 15vw;

    img {
      height: auto;
      width: 10vw;
    }
  }
}
