@use "./variables.scss" as *;

@mixin module {
    height: 90svh;
    padding: $padding-computer;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}