@mixin pageContent {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@mixin modules {
    height: 80vh;
}




@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}