* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  cursor: default;
}

body, header, footer {
  background-color: $black;
}

main {
  height: 84vh;
  color: $white;
  padding: $padding-computer;
  overflow: auto;
}