* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  cursor: default;
}

body, header, footer {
  background-color: $black;
}

@media (max-width: $breakpoint) {
  body {
    padding: $padding-mobile;
  }
}

@media (min-width: $breakpoint) {
  body {
    padding: $padding-desktop;
  }
}
