* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  cursor: default;
}

body {
  background-color: $black;
}

@media (max-width: $breakpoint-mobile) {
  body {
    padding: 0vh 10vw;
    font-size: $base-font-size-mobile;

    h1 {
      font-size: $h1-mobile;
    }

    h2 {
      font-size: $h2-mobile;
    }

    h3 {
      font-size: $h3-mobile;
    }
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  body {
    padding: 0vh 15vw;
    font-size: $base-font-size-tablet;

    h1 {
      font-size: $h1-tablet;
    }

    h2 {
      font-size: $h2-tablet;
    }

    h3 {
      font-size: $h3-tablet;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  body {
    padding: 0vh 20vw;
    font-size: $base-font-size-desktop;

    h1 {
      font-size: $h1-desktop;
    }

    h2 {
      font-size: $h2-desktop;
    }

    h3 {
      font-size: $h3-desktop;
    }
  }
}
