/* ===== HEADER BASE ===== */
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 10vh;
  background-color: $black;
}

.logo {
  color: $white;
  font-family: $lato;
  font-size: $h1;
  font-weight: $big-weight;
  text-decoration: none;
}

.nav {
  a {
    color: $purple;
    font-family: $lato;
    font-size: $p2;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $light-purple;
    }
  }
}

.toggle {
  @include button-reset;

  color: $white;
  font-size: 1.5rem;
}

/* ===== RESPONSIVE ===== */
@include mobile {
  .header {
    @include flex-between;

    padding: $mobile-padding;
  }

  .nav {
    display: none;

    &.open {
      @include flex-column-center;

      position: fixed;
      display: flex;
      background: rgba($black, 0.9);
      inset: 0;
      gap: 4vh;
    }
  }

  .toggle {
    display: block;
  }
}

@include tablet {
  .header {
    @include flex-between;

    padding: $tablet-padding;
  }

  .nav {
    display: flex;
    gap: 1rem;
  }

  .toggle {
    display: none;
  }
}

@include desktop {
  .header {
    @include flex-column-around;

    align-items: flex-start;
    padding: $desktop-padding;
  }

  .nav {
    display: flex;
    gap: 2rem;
  }

  .toggle {
    display: none;
  }
}
