.footer {
  height: 20vh;
  padding: $padding-computer;

  .a {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }
  }
  .b {
    height: 12vh;
    display: flex;

    div {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
  }
  .copyright {
    height: 2vh;
    text-align: center;
    color: $white;
  }
}
