footer {
  position: sticky;
  bottom: 0;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: $lato;
  color: $white;
  font-size: $p2;
}

.contact {
  display: flex;
  justify-content: space-between;
  font-style: normal;

  a {
    display: flex;
    align-items: center;
    transition-duration: 100ms;
    color: $white;

    img {
      width: 40px;
    }

    p {
      margin-left: 1vw;
    }
  }
  
  a:hover {
    text-decoration: underline;
    transition-duration: 100ms;
  }
}

.copyright {
  text-align: center;
  opacity: 0.5;
  font-size: calc($p2 - 10%);
}

@media (max-width: $breakpoint) {
.contact {
  p {
    display: none;
   }
   img {
    width: 30px;
   }
}
}
