.presentation {
  font-family: $ubuntu;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: space-between;

  h2 {
    color: $white;
    font-family: $lato;
  }

  .availability {
    background-color: $dark-purple;
    border: 2px solid $light-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p {
      width: 80%;
      height: 30%;
      background-color: $dark-purple;
      border: 2px solid $light-purple;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $light-purple;
      box-shadow: 0px 0px 6px $light-purple;
      transition-duration: 100ms;
    
    }
    p:hover {
      box-shadow: 0px 0px 12px $light-purple;
      transition-duration: 100ms;
    }
  }

  .cardsTo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: $breakpoint) {
  .presentation {
    flex-direction: column;
    justify-content: space-around;
    .availability {
      width: 100%;
      height: 20%;
      flex-direction: row;
      p {
        width: 40%;
        height: 80%;
      }
    }

    .cardsTo {
      height: 60%;
    }
  }
}

@media (min-width: $breakpoint) {
  .presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      position: absolute;
      top: 5vh;
    }
    .cardsTo {
      width: 60%;
      height: 70%;
    }

    .availability {
      width: 30%;
      height: 70%;
    }
  }
}
