.repairContent {
  @include pageContent;

  pre {
    font-weight: 300;
    font-size: $p1;
  }

  span {
    color: $light-purple;
  }

  .hardware {
    text-align: start;
  }

  .software {
    text-align: end;
  }

  pre:hover {
    span {
      text-decoration: underline;
    }
  }
}

@media(max-width: 600px) {
.repairContent{
  pre {
    font-size: $p3;
    }
}
}

@media (max-width: $breakpoint) {
  .repairContent {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 65%;
  }
}

@media (min-width: $breakpoint) {
  .repairContent {
    max-width: 1000px;
    justify-content: space-between;
  }
}
