.header {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: $lato;
  height: 10vh;

  .logo {
    color: $white;
  }
  .pageLink {
    color: $purple;
  }
}

@media (max-width: $breakpoint) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .showMobilNav {
      font-size: 2.5vmax;
      color: $white;
    }

    .mobileNav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50vw;
      background-color: $black;
    }

    li {
      text-align: center;
      padding: 4vh 0vw;
    }

    .hideMobileNav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50vw;
      background-color: rgba($black, 0.4);
    }

    .desktopNav {
      display: none;
    }
  }
}

@media (min-width: $breakpoint) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .desktopNav {
      ul {
        display: flex;

        .pageLink {
          margin-right: 3vw;
        }

        .pageLink:hover {
          color: $light-purple;
        }
        .pageLink:active {
          color: $dark-purple;
        }
      }
    }
    .showMobilNav {
      display: none;
    }
  }
}
