footer {
  position: sticky;
  bottom: 0;
  background-color: $black;
  z-index: 1;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-style: normal;
  padding: 1vh 0;

  div {
    display: flex;
    align-items: center;
    color: $white;

    img {
      width: 40px;
    }

    p {
      margin-left: 1vw;
    }
  }
}

.copyright {
  color: $white;
  text-align: center;
  padding: 2vh 0;
  opacity: 0.5;
}

@media (max-width: $breakpoint-desktop) {
  .contact div {
    height: 5vh;
    img {
      width: 20px;
    }
  }
}
