.configurationContent {
  @include pageContent;

  .title {
    font-weight: 600;
    color: $white;
  }

  span {
    color: $light-purple;
  }

  pre {
    font-size: 0.8vmax;
  }
}
@media (min-width: $breakpoint) {
  .configurationContent {
    flex-direction: row;
  }
}
@media (max-width: $breakpoint) {
  .configurationContent {
    flex-direction: column;
  }
}
