.banner {
  border: 2px solid $light-purple;
  width: 40vw;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-purple;
  color: $light-purple;

  legend {
    padding: 0px 10px;
    border: 2px solid $light-purple;
    background-color: $dark-purple;
    color: $purple;
    padding: 5px 1vw;
  }
}

@media (max-width: $breakpoint-mobile) {
  .pack div {
    width: 50vw;
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-desktop) {
}
