.banner {
  border: 2px solid $light-purple;
  width: 30vw;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-purple;
  color: $light-purple;

  legend {
    margin: auto;
    padding: 0px 10px;
    border: 2px solid $light-purple;
    color: $light-purple;
    background-color: $dark-purple;
    padding: 5px 2vw;
  }
  .price {
    background-color: $light-purple;
    color: $dark-purple;
    position: relative;
    bottom: 0;
    padding: 5px 10px;
    margin: 2vh 0;
  }
}

@media (max-width: $breakpoint-mobile) {
  .pack div {
    width: 50vw;
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-desktop) {
}
